<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187949127471-k1rklhutqiasufh0l4695htne6j7uov6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187949127471-k1rklhutqiasufh0l4695htne6j7uov6</string>
	<key>API_KEY</key>
	<string>AIzaSyBssytHCWpx1cwZsThUPUsBnptzPJ3qYG0</string>
	<key>GCM_SENDER_ID</key>
	<string>187949127471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizbora.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bizbora</string>
	<key>STORAGE_BUCKET</key>
	<string>bizbora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187949127471:ios:2faf864d5d66901c7573da</string>
</dict>
</plist>